.slider1 {
  .slick-prev {
    @media screen and (min-width: 1439px) {
      left: 80% !important;
    }
    @include lg-screen {
      left: 900px !important;
    }
    @include xmd-screen {
      left: 700px !important;
    }
    @include md-screen {
      left: 660px !important;
    }
    left: 1140px !important;
    top: 380px !important;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 999999;
    display: flex;
    height: 34px;
    width: 34px;
    &:hover {
      border: 1px solid #00a1eb;
      background: transparent;
    }
    &:focus {
      background: transparent;
      border: 1px solid #00a1eb;
    }
    &::before {
      content: "" !important;
    }
  }
  .slick-next {
    @media screen and (min-width: 1439px) {
      right: 12.44% !important;
    }
    @include lg-screen {
      right: 45px !important;
    }
    @include xmd-screen {
      right: 30px !important;
    }
    right: 137px !important;
    justify-content: center;
    top: 380px !important;
    align-items: center;
    background: #fff;
    z-index: 999999;
    display: flex;
    height: 34px;
    width: 34px;
    &:hover {
      border: 1px solid #00a1eb;
      background: transparent;
    }
    &:focus {
      background: transparent;
      border: 1px solid #00a1eb;
    }
    &::before {
      content: "" !important;
    }
  }
}
.banner_silder_item {
  // background: url(../public/images/ban.png) no-repeat;
  background-size: cover;
  height: 515px;
}
.banner_item_text {
  background-color: rgba(7, 28, 46, 0.699);
  height: 100%;
  width: 100%;
}
.vedio__modal {
  width: 60%;
}
