.categoier_img_active {
  position: relative;
  &::before {
    position: absolute;
    content: url(../public/images/bleft.svg);
  }
  &::after {
    position: absolute;
    content: url(../public/images/bright.svg);
    top: 0;
    right: 0;
  }
}
