 /* Top bar styling */
.clippathleft {
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
  shape-outside: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}
.clippathright {
  clip-path: polygon(6% 0, 100% 0%, 100% 100%, 0 99%);
  shape-outside: polygon(6% 0, 100% 0%, 100% 100%, 0 99%);
}

/* nav tranform */
.transform0 {
  @include xmd-screen {
    transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateX(-900px);
  }
}
.transform100 {
  transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateX(0px);
}
 /* Common Class */
.customcontainer {
  @include lg-screen {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  @include xmd-screen {
    padding-left: 20px;
    padding-right: 20px;
  }
  width: 1088px;
}
 /* input */
input,
textarea,
select {
  outline: none;
}
/* font size */
.font15 {
  font-size: 15px;
}
.font22 {
  font-size: 22px;
}
.font25 {
  font-size: 25px;
}
.font33 {
  font-size: 33px;
}
/* aboulte values */
.-top91px {
  top: -91px;
}
 /* progessive_section style */
.progessive_section {
  @media screen and (min-width: 1680px) {
    background-size: 775px auto;
  }
  background-image: url(../public/images/bgpath.svg);
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
  @include xmd-screen {
    background: none;
  }
}
 /* categoier_tabs */
.categoier_tabslist button {
    border-bottom: 1px solid #fff;
     /* background-color: rebeccapurple; */
}
.activetabs {
  background-color: red !important;
  color: #fff !important;
}
 /* bg_banner */
.bg_banner {
  @include sm-screen {
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 200px;
    background-repeat: no-repeat;
  }
  background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../public/images/sliders/2.jpg);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 500px;
}
.contact_bg {
  background: url(../public/images/contact.png);
}
.carrer_bg {
  background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../public/images/sliders/slider.jpg);
}
.service_bg {
  background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../public/images/sliders/3.jpg);
  backdrop-filter: grayscale(1);
}
.servicedet_bg {
  background: url(../public/images/serd.png) no-repeat;
  background-position-x: -100px;
  background-size: cover;
}
.productlist_bg {
  background: url(../public/images/prod.png);
}
.modal-size {
  @include sm-screen {
    width: 90%;
  }
  min-height: 200px;
  width: 518px;
}
/* card scroll */
.cardscroll {
  @include xmd-screen {
    width: 1080px;
  }
}
.scroll {
  /* width */
  &::-webkit-scrollbar {
    width: 0px;
    display: none;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
}
.menufacture_card {
  @include sm-screen {
    width: 800px;
  }
}
/* page loader styling */
.pageLoader {
  background-color: rgba(250, 250, 250, 0.952);
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #216fdb;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.achivment__cards {
  position: relative;
  overflow: hidden;
  .achivment__cards_icon {
    background-color: rgba(0,161,234,0.6);
    justify-content: center;
    transform: translateY(100%);
    transition: all 0.3s;
    align-items: center;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  &:hover .achivment__cards_icon {
    transform: translateY(0);
    height: 100%;
    width: 100%;
  }
}