.items_slider {
  img {
    @include sm-screen {
      height: 300px;
    }
    @include xs-screen {
      height: 250px;
    }
    @include xxs-screen {
      height: 200px;
    }
    object-fit: cover;
    height: 453px;
    width: 100%;
  }
}
.nav_slider {
  img {
    @include lg-screen {
      height: 138px;
      width: 138px;
    }
    @include xmd-screen {
      height: 110px;
      width: 110px;
    }
    @include sm-screen {
      height: 84px;
      width: 84px;
    }
    @include xs-screen {
      height: 55px;
      width: 55px;
    }
    @include xxs-screen {
      height: 46px;
      width: 46px;
    }
    object-fit: contain;
    height: 150px;
    width: 150px;
  }
  .slick-slide {
    @include lg-screen {
      height: 138px !important;
      width: 138px !important;
      margin: 30px 10px;
    }
    @include xmd-screen {
      height: 110px !important;
      width: 110px !important;
      margin: 30px 7px;
    }
    @include md-screen {
      height: 111px !important;
      width: 111px !important;
      margin: 30px 5px;
    }
    @include sm-screen {
      height: 84px !important;
      width: 84px !important;
    }
    @include xs-screen {
      height: 55px !important;
      width: 55px !important;
      margin: 15px 5px;
    }
    @include xxs-screen {
      height: 46px !important;
      width: 46px !important;
      margin: 10px 5px;
    }
    border: 1px solid #ccc;
    width: 150px !important;
    height: 150px !important;
    margin: 30px 16px;
  }
  .slick-current {
    border: 1px solid #00a1eb;
  }
  .slick-next {
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 34px;
    // right: -10px;
    top: 100px;
    width: 34px;
    img {
      height: 13px;
      width: 13px;
    }
  }
  .slick-prev {
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 34px;
    // left: -18px;
    top: 100px;
    width: 34px;
    img {
      height: 13px;
      width: 13px;
    }
  }
  .slick-prev:before,
  .slick-next:before {
    content: "" !important;
    // font-size: 35px;
    color: #000;
  }
}

//
