// Service_card
.service_card {
  transition: all 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);

  .whiteimg {
    transition: all 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
    visibility: hidden;
    display: none;
    opacity: 0;
    height: 80px;
    width: 80px;
  }
  .blackimg {
    height: 80px;
    width: 80px;
    transition: all 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  h5,
  h1,
  p,
  a {
    transition: all 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  &:hover {
    background-color: #00a1eb;
  }
  &:hover h5 {
    color: #fff;
  }
  &:hover h1 {
    color: #fff;
  }
  &:hover p {
    color: #fff;
  }
  &:hover a {
    color: #fff;
    border: 1px solid #fff;
  }
  &:hover .whiteimg {
    visibility: visible;
    display: block;
    opacity: 1;
  }
  &:hover .blackimg {
    visibility: hidden;
    display: none;
    opacity: 0;
  }
}
.service_slider {
  .slick-dots {
    bottom: 25px;
    li {
      margin: 0 1px !important;
      button {
        &::before {
          content: "" !important;
          background-color: #fff;
          border-radius: 50%;
          opacity: 1;
          height: 10px;
          width: 10px;
        }
      }
    }
  }
  .slick-prev {
    left: 7px !important;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 999999;
    display: flex;
    height: 34px;
    width: 34px;
    &:hover {
      border: 1px solid #fff;
      background: #fff;
    }
    &:focus {
      background: #fff;
      border: 1px solid #fff;
    }
    &::before {
      content: "" !important;
    }
  }
  .slick-next {
    right: 7px !important;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 999999;
    display: flex;
    height: 34px;
    width: 34px;
    &:hover {
      border: 1px solid #fff;
      background: #fff;
    }
    &:focus {
      background: #fff;
      border: 1px solid #fff;
    }
    &::before {
      content: "" !important;
    }
  }

  .slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: #00a1eb !important;
    background-color: #00a1eb !important;
  }
}
