$xl-screen: 1280px;
$lg-screen: 1024px;
$xmd-screen: 801px;
$md-screen: 768px;
$sm-screen: 600px;
$xs-screen: 425px;
$xxs-screen: 375px;

@mixin lg-screen {
  @media screen and (max-width: $lg-screen) {
    @content;
  }
}
@mixin xmd-screen {
  @media screen and (max-width: $xmd-screen) {
    @content;
  }
}
@mixin md-screen {
  @media screen and (max-width: $md-screen) {
    @content;
  }
}
@mixin sm-screen {
  @media screen and (max-width: $sm-screen) {
    @content;
  }
}
@mixin xs-screen {
  @media screen and (max-width: $xs-screen) {
    @content;
  }
}
@mixin xxs-screen {
  @media screen and (max-width: $xxs-screen) {
    @content;
  }
}
